header{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    /*height:50px;*/
    /*border: 1px solid red;*/
    background-color: #fff;
    z-index:9;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1);
}

header .top_bar{
    position: relative;
    width:100%;
    height:50px;
    padding:0 60px 0px 90px;
}
.top_bar .bar_l{
    position: absolute;
    top:0;
    left:15px;
    width:72px;
    height:50px;
}
.top_bar .bar_l a{
    display: block;
    width:72px;
    height:50px;
}
.top_bar .bar_l a img{
    width:72px;
    margin-top:15px;
}
.top_bar .bar_m{
    position: relative;
    width:100%;
    padding:10px 0px 0px 2px;
}
.top_bar .bar_m i{
    position: absolute;
    top: 15px;
    right: 11px;
    font-size: 18px;
    color:#E0E0E0;
}
.top_bar .bar_m input{
    display: inline-block;
    width:100%;
    height:30px;
    border-radius:15px;
    border-style: none;
    border:1px solid #E0E0E0;
    padding:0px 20px 0px 15px;

}
.top_bar .bar_r{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
}

.top_bar .bar_r a{
    height:50px;
    line-height:50px;
    font-size:14px;
    color: #C92027;
    text-align: center;
}


.main{
    margin-top:65px;
    width:100%;
    min-height:600px;
    /*border:1px solid red;*/
    padding-bottom: 25px;
}

.main .article{
    margin:0px 16px;
}
.main .article h1{
    font-size:22px;
    font-weight:bold;
    line-height:31px;
    color:#000;
    /*letter-spacing: 0;*/
}
.main .article .art_info{
    padding:15px 0px;
}
.article .art_info .info_l a{
    display:block;
}
.article .art_info .info_l a img{
    width:32px;
    height:32px;
    border-radius:5px;
}
.art_info .info_m{
    margin-left: 8px;
    font-size:12px;
}
.art_info .info_m p:first-child{
    margin-top: -1px;
    color: #78a5f1;
}
.art_info .info_m p:nth-child(2){
    color:#999;
}
.art_info .info_r{
    width:45px;
    height:24px;
    border: 1px solid #ca0c16;
}
.art_info .info_r a{
    display: block;
    height:24px;
    line-height:24px;
    text-align: center;
    vertical-align: middle;
}

.main .comment{
    margin-top:15px;
    width:100%;
    height:50px;
    border:1px solid red;
}
.main .hot .tit h2{
    width:100%;
    font-size:15px;
    font-weight:500;
    color:#000;
    padding:14px 0 8px;
}
.main .hot .tit h2::before{
    content: '';
    display: inline-block;
    height:18px;
    width:4px;
    margin-right: 10px;
    background-color: red;
    vertical-align: sub;
}
.main .hot .hot_list{
    width:100%;
    padding:0 14px;
}
.main .hot .hot_list ul li{
    width:100%;
    padding:8px 0;
    border-bottom: 1px solid #F5F6F7;
}
.main .hot .hot_list li a{
    width:100%;
    display: block;
}
.main .hot .hot_list li a h3{
     font-size:15px;
     color: #111;
     font-weight:bold;
     line-height:26px;
 }
.main .hot .hot_list .hot_info{
    font-size:12px;
    color: #999;
    line-height:24px;
}
.main .hot .hot_list .hot_info span{
    margin-right:16px;
}